@import "./variables.scss";

* {
  box-sizing: border-box;
  font-family: $font2;
  margin: 0;
  outline: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}
h1 {
  font-size: 35px;
  font-weight: 700;
}
h2 {
  font-size: 42px;
}
h2,
h3 {
  font-weight: 600;
}

// Body	Inter	400
// Navigation	Inter	500
// Buttons	Inter	600
// Small/meta text	Inter	400–500

.app {
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  padding: $padding1;
}

.lightmode {
  background-color: $colour-lightmode01;
  * {
    color: $colour-lightmode03;
  }
  ::-webkit-scrollbar-thumb {
    background: $colour-lightmode05;
  }
  h1 {
    color: $colour-lightmode04;
  }
  h2 {
    color: $colour-lightmode02;
  }
  .header {
    border-color: $colour-lightmode02;
    .header-subtitle {
      color: $colour-lightmode05;
    }
  }
  .header-link:hover {
    color: $colour-lightmode04;
  }
}
.darkmode {
  background-color: $colour-darkmode01;
  * {
    color: $colour-darkmode03;
  }
  ::-webkit-scrollbar-thumb {
    background: $colour-darkmode05;
  }
  h1 {
    color: $colour-darkmode04;
  }
  h2 {
    color: $colour-darkmode02;
  }
  .header {
    border-color: $colour-darkmode02;
    .header-subtitle {
      color: $colour-darkmode05;
    }
  }
  .header-link:hover {
    color: $colour-darkmode04;
  }
}
