@import "../../assets/styles/variables.scss";

.header {
  border-style: solid;
  border-width: 0 0 2px 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  .header-left {
    align-items: flex-end;
    display: flex;
    gap: 7px;
    .header-title-container {
      align-items: flex-end;
      display: flex;
      .header-subtitle {
        font-size: 14px;
        padding-bottom: 5px;
      }
    }
    .header-icon-links {
      display: flex;
      width: 70px;
    }
  }
}

.navbar-wide {
  align-items: flex-end;
  display: flex;
}

.navbar-narrow {
  display: none;
  flex-direction: column;
  right: 2%;
  position: absolute;
  top: 7px;
  .navbar-narrow-toggle {
    cursor: pointer;
    text-align: right;
    font-size: 35px;
  }
  .navbar-narrow-links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 7px;
    width: 100%;
  }
}

.dark-mode-toggle {
  bottom: 7px;
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  right: 3%;

  * {
    transition: 0.3s ease-in-out color;
  }
}

.loader-container {
  text-align: center;
  .loader-text {
    color: $colour-lightmode05;
    font-size: 21px;
    font-weight: bold;
    margin-top: -35px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-wide {
    display: none;
  }
  .navbar-narrow {
    display: flex;
  }
  .header {
    padding-bottom: 0;
    .header-left {
      .header-title-container {
        flex-direction: column;
        .header-subtitle {
          font-size: 14px;
          padding-bottom: none;
          width: 100%;
        }
      }
      .header-icon-links {
        display: flex;
        left: 220px;
        position: absolute;
        top: 14px;
        width: 70px;
      }
    }
  }
}
