@import "./variables.scss";

* {
  box-sizing: border-box;
  font-family: $font2;
  margin: 0;
  outline: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}
h1 {
  font-size: 35px;
  font-weight: 700;
}
h2 {
  font-size: 42px;
}
h2,
h3 {
  font-weight: 600;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  padding: $padding1;
}

.lightmode {
  background-color: $colour-lightmode01;
  * {
    color: $colour-lightmode03;
  }
  ::-webkit-scrollbar-thumb {
    background: $colour-lightmode05;
  }
  h1 {
    color: $colour-lightmode04;
  }
  h2 {
    color: $colour-lightmode02;
  }
  .home-mern-icons {
    * {
      color: $colour-lightmode02;
    }
  }
  .home-work-example-title {
    color: $colour-lightmode05;
  }
  .header {
    border-color: $colour-lightmode02;
    .header-title {
      #header-title-surname {
        color: $colour-lightmode05;
      }
    }
    .header-subtitle {
      color: $colour-lightmode03;
    }
  }
  .navbar-narrow {
    background-color: $colour-lightmode01;
  }
  .navbar-narrow-links {
    background-color: $colour-lightmode01;
  }
  .navbar-narrow-border {
    border: 2px solid $colour-lightmode02;
  }
  .dark-mode-toggle {
    * {
      color: $colour-lightmode02;
    }
  }
  .dark-mode-toggle:hover {
    * {
      color: $colour-lightmode04;
    }
  }
  #home-title-surname {
    color: $colour-lightmode05;
  }
  .work-grid-selection {
    .work-grid-selection-item {
      color: $colour-lightmode04;
      &:hover {
        color: $colour-lightmode05;
      }
    }
    .work-grid-selection-item.selected {
      border-bottom: 4px solid $colour-lightmode05;
    }
  }
  .skills-container {
    .skill-modal-container {
      .skill-modal {
        background-color: $colour-lightmode01;
        border-color: $colour-lightmode04;
        .skill-modal-logo {
          * {
            color: $colour-lightmode04;
          }
        }
        .skill-modal-level {
          color: $colour-lightmode05;
        }
        .skill-modal-button {
          background-color: $colour-lightmode04;
          color: $colour-lightmode01;
          &:hover {
            background-color: $colour-lightmode05;
            color: $colour-lightmode04;
          }
        }
      }
    }
  }
  .file-input-container {
    .file-input-label {
      color: $colour-lightmode05;
    }
  }
  .contact-container {
    .contact-form {
      .message-status {
        color: $colour-lightmode05;
      }
    }
    .contact-links-title {
      color: $colour-lightmode05;
    }
  }
  .header-link:hover {
    color: $colour-lightmode04;
  }
  .icon-link {
    :first-child {
      color: $colour-lightmode04;
    }
  }
  .icon-link:hover {
    :first-child {
      color: $colour-lightmode05;
    }
  }
  .work-card {
    .work-card-category {
      color: $colour-lightmode05;
    }
    .work-card-image-container {
      border: 2px solid $colour-lightmode02;
    }
    .work-card-text {
      background-color: rgba($colour-lightmode01, 0.42);
      .work-card-title {
        color: $colour-lightmode01;
        text-shadow:
          2px 2px 0 $colour-lightmode04,
          2px -2px 0 $colour-lightmode04,
          -2px 2px 0 $colour-lightmode04,
          -2px -2px 0 $colour-lightmode04;
      }
      .work-card-description {
        color: $colour-lightmode02;
      }
    }
  }
  .skill-card {
    .skill-card-logo-container {
      * {
        color: $colour-lightmode04;
      }
    }
    .skill-card-text {
      .skill-card-name {
        color: $colour-lightmode03;
      }
      .skill-card-level {
        color: $colour-lightmode05;
      }
    }
  }
  .blog-card {
    .blog-card-text {
      background-color: $colour-lightmode01;
      .blog-card-title {
        color: $colour-lightmode04;
      }
      .blog-card-tags {
        * {
          color: $colour-lightmode05;
        }
      }
      .blog-card-subtitle {
        color: $colour-lightmode05;
      }
      .blog-card-date {
        color: $colour-lightmode02;
      }
    }
    .blog-card-body {
      color: $colour-lightmode02;
    }
  }
  .card-link {
    background-color: $colour-lightmode04;
    border: 2px solid $colour-lightmode03;
    color: $colour-lightmode01;

    &:hover {
      background-color: $colour-lightmode05;
    }
  }
  .work-item {
    .work-item-columns {
      .work-item-column {
        .work-item-category {
          color: $colour-lightmode05;
        }
        .work-item-description {
          color: $colour-lightmode02;
        }
        .work-item-tags-container {
          * {
            color: $colour-lightmode04;
          }
        }
      }
    }
    .work-item-links-container {
      .work-item-link {
        color: $colour-lightmode01;
        background-color: $colour-lightmode05;
      }
    }
    .work-item-link.site {
      background-color: $colour-lightmode04;
      color: $colour-lightmode01;

      &:hover {
        background-color: $colour-lightmode05;
        color: $colour-lightmode04;
      }
    }
  }
  .blog-item {
    .blog-item-header {
      .blog-item-date {
        color: $colour-lightmode04;
      }
    }
    .blog-item-tags {
      span {
        color: $colour-lightmode05;
      }
    }
    .blog-item-text {
      color: $colour-lightmode02;
    }
  }
  .text-input-label {
    color: $colour-lightmode05;
  }
  .text-input-field {
    color: $colour-lightmode02;
  }
  .submit-button {
    color: $colour-lightmode01;
    background-color: $colour-lightmode04;

    &:hover {
      background-color: $colour-lightmode05;
    }
  }
}
.darkmode {
  background-color: $colour-darkmode01;
  * {
    color: $colour-darkmode03;
  }
  ::-webkit-scrollbar-thumb {
    background: $colour-darkmode05;
  }
  h1 {
    color: $colour-darkmode04;
  }
  h2 {
    color: $colour-darkmode02;
  }
  .home-mern-icons {
    * {
      color: $colour-darkmode02;
    }
  }
  .home-work-examples-header {
    color: $colour-darkmode04;
  }
  .home-work-example-title {
    color: $colour-darkmode05;
  }
  .header {
    border-color: $colour-darkmode02;
    .header-title {
      #header-title-surname {
        color: $colour-darkmode05;
      }
    }
    .header-subtitle {
      color: $colour-darkmode03;
    }
  }
  .navbar-narrow {
    background-color: $colour-darkmode01;
  }
  .navbar-narrow-links {
    background-color: $colour-darkmode01;
  }
  .navbar-narrow-border {
    border: 2px solid $colour-darkmode02;
  }
  .dark-mode-toggle {
    * {
      color: $colour-darkmode02;
    }
  }
  .dark-mode-toggle:hover {
    * {
      color: $colour-darkmode04;
    }
  }
  #home-title-surname {
    color: $colour-darkmode05;
  }
  .work-grid-selection {
    .work-grid-selection-item {
      color: $colour-darkmode04;
      &:hover {
        color: $colour-darkmode05;
      }
    }
    .work-grid-selection-item.selected {
      border-bottom: 4px solid $colour-darkmode05;
    }
  }
  .skills-container {
    .skill-modal-container {
      .skill-modal {
        background-color: $colour-darkmode01;
        border-color: $colour-darkmode04;
        .skill-modal-logo {
          * {
            color: $colour-darkmode04;
          }
        }
        .skill-modal-level {
          color: $colour-darkmode05;
        }
        .skill-modal-button {
          background-color: $colour-darkmode04;
          color: $colour-darkmode01;
          &:hover {
            background-color: $colour-darkmode05;
            color: $colour-darkmode04;
          }
        }
      }
    }
  }
  .file-input-container {
    .file-input-label {
      color: $colour-darkmode05;
    }
  }
  .contact-container {
    .contact-form {
      .message-status {
        color: $colour-darkmode05;
      }
    }
    .contact-links-title {
      color: $colour-darkmode05;
    }
  }
  .header-link:hover {
    color: $colour-darkmode04;
  }
  .icon-link {
    :first-child {
      color: $colour-darkmode04;
    }
  }
  .icon-link:hover {
    :first-child {
      color: $colour-darkmode05;
    }
  }
  .work-card {
    .work-card-category {
      color: $colour-darkmode05;
    }
    .work-card-image-container {
      border: 2px solid $colour-darkmode02;
    }
    .work-card-text {
      background-color: rgba($colour-darkmode01, 0.42);

      .work-card-title {
        color: $colour-darkmode01;
        text-shadow:
          2px 2px 0 $colour-darkmode04,
          2px -2px 0 $colour-darkmode04,
          -2px 2px 0 $colour-darkmode04,
          -2px -2px 0 $colour-darkmode04;
      }
      .work-card-description {
        color: $colour-darkmode03;
      }
    }
  }
  .skill-card {
    .skill-card-logo-container {
      * {
        color: $colour-darkmode04;
      }
    }
    .skill-card-text {
      .skill-card-name {
        color: $colour-darkmode03;
      }
      .skill-card-level {
        color: $colour-darkmode05;
      }
    }
  }
  .blog-card {
    .blog-card-text {
      background-color: $colour-darkmode01;
      .blog-card-title {
        color: $colour-darkmode04;
      }
      .blog-card-tags {
        * {
          color: $colour-darkmode05;
        }
      }
      .blog-card-subtitle {
        color: $colour-darkmode05;
      }
      .blog-card-date {
        color: $colour-darkmode02;
      }
    }
    .blog-card-body {
      color: $colour-darkmode02;
    }
  }
  .card-link {
    background-color: $colour-darkmode04;
    border: 2px solid $colour-darkmode03;
    color: $colour-darkmode02;

    &:hover {
      background-color: $colour-darkmode05;
    }
  }
  .work-item {
    .work-item-columns {
      .work-item-column {
        .work-item-category {
          color: $colour-darkmode05;
        }
        .work-item-description {
          color: $colour-darkmode02;
        }
        .work-item-tags-container {
          * {
            color: $colour-darkmode04;
          }
        }
      }
    }
    .work-item-links-container {
      .work-item-link {
        color: $colour-darkmode01;
        background-color: $colour-darkmode05;
      }
    }
    .work-item-link.site {
      background-color: $colour-darkmode04;
      color: $colour-darkmode01;

      &:hover {
        background-color: $colour-darkmode05;
        color: $colour-darkmode04;
      }
    }
  }
  .blog-item {
    .blog-item-header {
      .blog-item-date {
        color: $colour-darkmode04;
      }
    }
    .blog-item-tags {
      span {
        color: $colour-darkmode05;
      }
    }
    .blog-item-text {
      color: $colour-darkmode02;
    }
  }
  .text-input-label {
    color: $colour-darkmode05;
  }
  .text-input-field {
    color: $colour-darkmode01;
  }
  .submit-button {
    color: $colour-darkmode01;
    background-color: $colour-darkmode04;

    &:hover {
      background-color: $colour-darkmode05;
    }
  }
}
